html * {
    font-family: 'JF Flat Regular', Sans-Serif;
}

html {
    height: 100%;
    margin: 0 auto;

}



body {
    background-color: #EDF4F8;
    font-size: 0.75rem;

}

/* 
برواز قطاعات الفاتورة 
*/
.sector {

    border-radius: 10px;
    margin-bottom: 6px;
    background-color: #FFF;
    vertical-align: middle;
    padding: 14px;
}

/* 
Insert Comment 
*/
.number {
    background: #007bff;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    border-radius: 15px 15px 15px 0px;
}

.ltborder {
    border-left: 1px solid #FFF
}

.fborder {
    border: 1px solid #CCC;
    padding: 10px;
    border-radius: 10px;
    background-color: transparent
}

.plegend {
    text-align: center;
    color: #737678;
    font-weight: bolder;
}

.netctr {
    height: 3rem;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 10px;
    text-align: center;
    width: 0;
}

.fborder label {
    font-weight: bold;
}

.btncolor {
    background-color: #b8daff;
    color: #5C6D80;
}

.btncolor2 {
    background-color: #dc3545;
    color: #FFF;
    width: 4.25rem;
    text-align: center
}

.svg-inline--fa.fa-w-20 {
    width: 15.3px;
}

.headrw {
    background-color: #b8daff;
    text-align: center;
    -webkit-border-radius: 0px 0px 15px 15px;
    border-radius: 0px 0px 15px 15px;
    border: 1px solid #bee5eb;

}

.modcol {
    max-width: 2.333333%;
}

.clegend {
    margin-bottom: 20px;
}

.clegend legend {
    text-align: center;
    color: #5D8AA8;
    font-weight: bold;
}

.headrw span {
    padding-top: 10px;
    font-weight: 700;
}

/* 
خاص بجدول تفاصيل الفاتورة 
*/
.recitrw {
    background-color: #b8daff;
    text-align: center;
    color: #000;

    border: 1px solid transparent;
    border-radius: .25rem;
}

/* 
خاص بتنسيق خلفية الجداول 
*/
.tblrecit {

    text-align: center;
    color: #000;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.rwformat tr {}

.tblrecit tr {
    height: 10px;
}

/* 
كلاس للتحكم في جدول الفاتورة السفلي
*/
.inputctrl tr td input {
    height: 24px;
    padding: 0;
}

.inputctrl tr td span {
    font-size: 14px;
}

.inputctrl tr td {
    height: 24px;
    padding: 2px;
}


.ctrspan {
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}

.txtctrl {
    border: 1px solid black;
    border-radius: .25rem;
    width: 16.66%;
    background-color: #FFF;
    vertical-align: middle;
    height: 30px;
}

/* 
خاص بخلفية صناديق النصوص 
*/
.inputbg {
    background-color: #b8daff;
}

.lblstyle {

    background-color: #dc3545;
    color: #FFF;
    font-size: 12px;
    border-radius: 5px;
}

.tdwdth {
    width: 70px;
}

.tabofcont {
    text-align: center;
}

.tabofcont span {
    font-size: 20px;
}

.pro-data {
    margin-bottom: 20px;
}

.table {
    background-color: #FFF;

}

.tabofcont .table thead tr th,
.table thead th {
    vertical-align: middle;
}

.tabofcont tr {
    height: 50px;
}

.center-btn {
    text-align: center;

}

.btn {
    font-size: 12px;
    font-weight: bold;
    width: 101px;

}

.btn-danger {
    border-radius: 7px;
}

.pro-data table td {
    border-top: 0px;
    padding: 5px;

}
