html * {
    font-family: 'JF Flat Regular', Sans-Serif;
}

html {
    height: 100%;
    margin: 0 auto;
}

body {
    background-color: #EDF4F8;
    font-size: 0.75rem;
}

/* 
لتنسيق رأس الفورم */
.headrw {
    background-color: #b8daff;
    text-align: center;
    -webkit-border-radius: 0px 0px 15px 15px;
    border-radius: 0px 0px 15px 15px;
    border: 1px solid #bee5eb;
}

/* 
بداية القسم الثاني
*/
/*كلاس تنسيق العناوين الرئيسية */

.plegend {
    text-align: center;
    color: #000;
    margin-bottom: 0px;
}

/* 
تنسيق اللوجو بجانب العناوين الرئيسية 
*/
.number {
    background: #007bff;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    border-radius: 15px 15px 15px 0px;
}

/* 
برواز قطاعات الفاتورة 
*/
.sector {
    border: 1px solid #CCC;
    border-radius: 10px;
    margin-bottom: 6px;
    background-color: #FFF;
    vertical-align: middle;
    padding: 14px;
}

.sector label {
    font-size: 14px;
    font-weight: bold;
}

/* 
لتنسيق الوان الازرار المصاحبة لمربعات النصوص
*/
.btncolor {
    background-color: #b8daff;
    color: #5C6D80;
}

/* 
لتنسيق القطاع الايسر الخاص بإجماليات الفاتورة*/
.leftsec {
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 10px;
}

.fborder {
    padding: 10px 10px 0px 10px;
    background-color: transparent
}

/* 
لتنسيق الخانات الخاصة بالإجماليات
*/
.fborder .form-control {
    margin-bottom: 5px;
    border-radius: 7px;
    padding: .375rem .75rem;
    line-height: 1.42857143;
    display: inline;
    width: 74%;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    height: 62px;
    color: #27a544;
    background-color: #FFF;
}

/* 
لتنسيق عناوين مربعات النص */
.fborder label {
    font-weight: bold;
    display: block;
}

.fborder span {
    font-size: 18px;
}

/* 
تفاصيل الفاتورة
*/
/* 
خاص بجدول تفاصيل الفاتورة 
*/
.recitrw {
    background-color: #b8daff;
    text-align: center;
    color: #000;
    border: 1px solid transparent;
    border-radius: .25rem;
}

/* 
للتحكم في عناصر السمبان في الجدول 
*/
.ctrspan {
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}

/* 
للتحكم في عناصر مربعات النصوص بالجدول*/
.txtctrl {
    border: 1px solid black;
    border-radius: .25rem;
    width: 16.66%;
    background-color: #FFF;
    vertical-align: middle;
    height: 30px;
}

/* 
بداية جدول المشتريات*/
/* 
خاص بتنسيق عناصر الجدول 
*/
.tblrecit {

    text-align: center;
    color: #000;
    border: 1px solid transparent;
    border-radius: .25rem;
}

/* 
خاص بتنسيق ارتفاع صفوف الجدول 
*/
.tblrecit tr {
    height: 31px;
}

/* 
كلاس للتحكم في جدول الفاتورة السفلي
*/
.inputctrl tr td input {
    height: 24px;
    padding: 0;
}

.inputctrl tr td span {
    font-size: 14px;
}

.inputctrl tr td {
    height: 24px;
    padding: 2px;
}

/* 
خاص بالتحكم في عرض اعمدة الجدول*/
.tdwdth {
    width: 70px;
}

/* 
خاص بخلفية صناديق النصوص 
*/
.inputbg {
    background-color: #b8daff;
}

/* 
خاص بازرار حذف العناصر
*/

.btncolor2 {
    background-color: #dc3545;
    color: #FFF;
    width: 4.25rem;
    text-align: center
}

.btn-danger {
    border-radius: 2px;
}

.svg-inline--fa.fa-w-20 {
    width: 15.3px;
}

.table {
    background-color: #FFF;
    margin-bottom: 5px;
}

.table td {
    padding: 5px;
}

/* 
للتحكم في ازرار الجديد و الكاش و اضافة فاتورة*/
.center-btn {
    text-align: center;
}

.btn {
    font-size: 12px;
    font-weight: bold;
    width: 101px;
}
